{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<style>
   .carte {
    border-color: greenyellow;
    padding: 10px;
   }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    
        {% for subscription in subscriptions %}
        <div class="carte">
        <h1>{{ subscription.title }}</h1>
        <p>Price: ${{ subscription.price }}</p>
        <p>{{ subscription.pdfLimit }} pdf/day</p>
        <p>{{ subscription.description }}</p>

        <form method="post" action="{{path('subscription_validation')}}">
            <input type="hidden" name="title" value="{{ subscription.title }}">
            {% if currentSubscription == subscription.title %}
            <p>Abonnement actuel</p>
            {% else %}
            <button type="submit">S'abonner</button>
            {% endif %}

        </form>
        </div>
           
        {% endfor %}
   

</div>
{% endblock %}
